@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.topbar {
    position: sticky;
    top: 0px;
    z-index: 49;
}


.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #4b79e4;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #2584f8;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

@layer base {
    :root {
        --color-bg: 227 227 227;          /* Light gray background */
        --color-primary: 255 255 255;     /* White primary color */
        --color-secondary: 255 255 255;   /* White secondary color */
        --color-ascent1: 0 0 0;           /* Black ascent color 1 */
        --color-ascent2: 89 91 100;       /* Dark gray ascent color 2 */
        --color-blue: 6 90 216;           /* Blue color */
        --color-white: 255 255 255;       /* White color */
        --color-red: 255 0 0;             /* Red color */

    }

    [data-theme="dark"] {
        --color-bg: 12 12 12;             /* Very dark gray background */
        --color-primary: 31 31 31;        /* Dark gray primary color */
        --color-secondary: 47 45 48;      /* Dark gray secondary color */
        --color-ascent1: 255 255 255;     /* White ascent color 1 */
        --color-ascent2: 164 161 162;     /* Light gray ascent color 2 */
        --color-blue: 6 90 216;           /* Blue color */
        --color-white: 255 255 255;       /* White color */
        --color-red: 255 0 0;             /* Red color */

    }
}
